<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Ola, {{name}}</p>
  <p>Este é o relatório do seu agendamento no sistema Monitor</p>
  <p>
    <a href={{process.env.APP_WEB_URL}}>Voce pode clicar aqui e conferir no seu painel de controle.</a>
  </p>
  <p>
    Obrigado! <br>
    <strong>Equipe CIGEO</strong>
  </p>
</div>